body{
    border: 1px solid #0000;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2%;
    margin-right: 2%;
    background-image: url(../img/banner5.png);
    background-blend-mode: overlay;
    background-color: rgba(255, 255, 255,0.5);
}
/* header*/
header{
    display: flex;
    background-color: rgb(245, 245, 245);
    height: auto;
    width: 100%;
    flex-direction: column;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 1px solid rgba(0, 0, 0,0.3);
    border-left: 1px solid rgba(0, 0, 0,0.3);
    border-right: 1px solid rgba(0, 0, 0,0.3);
    text-align: left;
    align-items: center;
}
header div.texto a{
    border: solid 2px rgba(0, 0, 0,0.3);
    text-decoration: none;
    margin: 2%;
    font-family: 'Girassol', cursive;
    color: black;
    font-size: 20px;
    animation: texto 2s;
    border-radius: 5px;
    padding: 5px;
}
header div.texto ul{
    display: flex;
    list-style: none;
    margin: 10px;
}
header div.texto{
    width: auto;
}
@keyframes texto{
    from{
        font-size: 50px;
        opacity: 0;
    }
    to{
        font-size: 20px;
    }
}
header div.texto a:hover{
    background-color: black;
    color: whitesmoke;
}
header img{
    text-align: center;
}
.grow {
    transition: transform 1s;
    will-change: scale;
  }
  
.grow:hover {
    transform: scale(1.2);
  }
@media (min-width: 600px){
    header{
        flex-direction: row;
    }
}
@media (min-width: 960px){
    header{
        justify-content: space-between;
    }
    header div.texto ul{
        margin-bottom: 180px;
    }
}
/*main*/
.card {
    margin: .5%;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 40, 100, 0.12);
    border-radius: 3px;
    background-color: #c2a057;
    padding: 0.75rem;
    text-align: justify;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Girassol', cursive;
    color: rgba(0, 0, 0,0.7);
    animation: card 1.5s;
    align-items: center;
}
@keyframes card{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
::selection{
    background-color: black;
    color: #f7b322;
}
main .card img, fieldset img{
    margin-right: 3px;
    border-radius: 35%;
    border: solid 1px rgba(0, 0, 0,0.3);
}
main{
    background-color: #f7b322;
    height: auto;
    width: 100%;
    border-left: 1px solid rgba(0, 0, 0,0.3);
    border-right: 1px solid rgba(0, 0, 0,0.3);
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1rem;
    margin: auto;
}
@media (min-width: 800px){
    main{
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
}
p a{
    text-decoration: none;
}
p a span{
    font-size: 24px;
    text-decoration: none;
    font-weight: 600;
    margin: 5px;
    color: black;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Girassol', cursive;
    margin: 2%;
}
p a span:hover{
    background-color: black;
    color: #f7b322;
}
fieldset{
    background-color: #c2a057;
}
div.forms{
    height: auto;
    background-color: #f7b322;
    width: 100%;
    border-left: 1px solid rgba(0, 0, 0,0.3);
    border-right: 1px solid rgba(0, 0, 0,0.3);
    margin: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Girassol', cursive;
}
/*footer*/
footer{
    background-color: black;
    height: auto;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid rgba(0, 0, 0,0.3);
    border-left: 1px solid rgba(0, 0, 0,0.3);
    border-right: 1px solid rgba(0, 0, 0,0.3);
    display: flex;
    color: white;
    justify-content: space-between;
    flex-direction: column;
}
footer ul{
    display: flex;
}
footer li{
    margin: .5rem;
}
@media (min-width: 800px){
    footer{
        flex-direction: row;
    }
}
footer h3{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Girassol', cursive;
}
.social{
    margin: 5px;
}
iframe{
    margin: 5px;
}
.fab{
    font-size: 32px;
}
footer .social li a i{
    text-decoration: none;
}
#tt{
    color: #1DA1F2;
}
#tt:hover{
    color: white;
}
#fb{
    color: #4267B2;
}
#fb:hover{
    color: white;
}
#lk{
    color: #2867B2;
}
#lk:hover{
    color: white;
}
#ig{
    color: #E1306C;
}
#ig:hover{
    color: white;
}
#wp{
    color: #128C7E;
}
#wp:hover{
    color: white;
}
#mail{
    color: #C71610;
    font-size: 32px;
}
#mail:hover{
    color: white;
}
footer ul{
    list-style: none;
}

